@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --border-color: tomato;
  --heading-color: #454955;
  --paragraph-color: #454955;
  --bg-color: #eee;
}

html {
  font-size: calc(0.2vw + 0.3vh + 0.3rem);
  font-family: 'Catamaran', sans-serif;
}

body {
  background-color: var(--bg-color);
}

main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1vh auto auto 1vh;
  justify-items: center;
  align-items: center;
}

main::before {
  content: '';
  background-color: var(--border-color);
  grid-column: 2 / -1;
  grid-row: 1/2;
  display: block;
  height: 100%;
  width: 100%;
}

main::after {
  content: '';
  background-color: var(--border-color);
  grid-column: 1 / 2;
  grid-row: 4/-1;
  display: block;
  height: 100%;
  width: 100%;
}

.text {
  grid-column: 1/2;
  grid-row: 2/4;
  padding: 5rem;
}

h1 {
  font-size: 7rem;
  font-weight: 200;
  margin: 0;
  text-align: left;
  color: var(--heading-color);
}

p {
  font-size: 3rem;
  font-weight: 300;
  color: var(--paragraph-color);
}

.social {
  font-size: 2.5rem;
  display: flex;
  gap: 2.5rem;
  color: var(--paragraph-color);
}

a {
  transition: all 0.1s;
}

a:link,
a:visited {
  color: var(--paragraph-color);
}

a:hover,
a:focus {
  color: tomato;
  transform: scale(1.1);
  outline: none;
}

a:active {
  color: rgb(253, 137, 116);
}

.image {
  width: 100%;
  grid-column: 2/-1;
  grid-row: 2/4;
}

img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1025px) {
  main {
    grid-template-columns: 1fr;
  }

  main::before {
    grid-column: 1 / 2;
    grid-row: 1/2;
    display: block;
    height: 100%;
    width: 50%;
    justify-self: end;
  }

  main::after {
    width: 50%;
    justify-self: start;
  }

  .text {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 5rem;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .social {
    justify-content: center;
  }

  .image {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 80%;
  }
}
